# .gitattributes
# always use Unix LF
.gitattributes eol=lf
.gitignore eol=lf
Makefile text eol=lf
*.c text eol=lf
*.h text eol=lf
# GIT LFS:
*.gif filter=lfs diff=lfs merge=lfs -text
*.dwf3work filter=lfs diff=lfs merge=lfs -text
