# .gitattributes

# always use Unix LF
.gitattributes eol=lf
.gitignore eol=lf
Makefile text eol=lf
*.mk text eol=lf
*.bash text eol=lf
*.c text eol=lf
*.h text eol=lf

# binary - do not touch
*.PNG binary
*.sch binary
